:root {
    --lithgray: #F4F5FA;
    --blue: #2977E8;
    --green: #25DBA0;
    --darkblue: #0E1952;
    --white: #ffffff;
    --red: #FF2473;
    --dark: #333333;
    --gray: #9CA2C0;
    --darkgreen: #19946C;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#info div:not(.b-attrib) {
    width: 100%;
}

.h-100 {
    height: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    margin: 0;
}

#test h2,
#why h2,
#agree h2,
#luck h2,
#static>h2 {
    margin-bottom: 60px;
}

.hidde {
    overflow: hidden;
}

#answer>h2 {
    margin-bottom: 40px;
}

#method>h2 {
    margin-bottom: 30px;
}

#reviews>h1 {
    margin-bottom: 47px;
}

.a-none {
    text-decoration: none;
}

.c-pointer {
    cursor: pointer;
}

.form-input {
    border: 1px solid var(--gray);
    font-family: Noto Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
    color: #333333;
    border-radius: 5px;
    width: 100%;
}

.form-checkbox [type="checkbox"] {
    display: none;
}

.form-checkbox {
    padding-left: 30px;
    position: relative;
}

.form-checkbox label {
    position: relative;
}

.form-checkbox label::before {
    position: absolute;
    content: "";
    display: block;
    border: 2px solid var(--gray);
    width: 20px;
    height: 20px;
    top: 0;
    left: -30px;
}

.form-checkbox [type="checkbox"]:checked+label::after {
    content: "\2714";
    position: absolute;
    color: var(--gray);
    font-weight: 900;
    font-size: 22px;
    top: -2px;
    left: -18px;
    transform: translateX(-50%);
    font-family: Noto Sans;
}

button:focus {
    border: none!important;
    border-color: transparent!important;
    outline: none!important;
}

.form-input:focus {
    border: 1px solid var(--blue);
    background: var(--lithgray);
    outline: none;
}

.t-decoration {
    text-decoration-line: underline;
}

.color-white {
    color: var(--white)!important;
}

.color-dark {
    color: var(--dark)!important;
}

.color-gray {
    color: var(--gray)!important;
}

.color-blue {
    color: var(--blue)!important;
}

.color-darkblue {
    color: var(--darkblue)!important;
}

.color-green {
    color: var(--green)!important;
}

.color-darkgreen {
    color: var(--darkgreen)!important;
}

.border-blue,
.border-blue:focus {
    border: 2px solid var(--blue)!important;
}

.border-green {
    border: 2px solid var(--green)!important;
}

.bg-blue {
    background-color: var(--blue)!important;
}

.bg-darkblue {
    background-color: var(--darkblue)!important;
}

.bg-lithgray {
    background-color: var(--lithgray)!important;
}

.bg-green {
    background-color: var(--green)!important;
}

.bg-red {
    background-color: var(--red)!important;
}

.bg-white {
    background-color: var(--white)!important;
}

.radius {
    border-radius: 10px;
}

.radius-cicle {
    border-radius: 50%;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-auto {
    width: auto!important;
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.btn {
    text-decoration: none;
    padding: 16px 50px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: transparent;
    background: transparent;
}

.white-space {
    white-space: nowrap;
}

[class *='flex'] {
    display: flex;
}

.flex-r {
    flex-direction: row;
}

.flex-c {
    flex-wrap: wrap
}

.flex-r-between {
    justify-content: space-between;
}

.flex-c-between {
    align-content: space-between;
}

.flex-r-center {
    justify-content: center;
}

.flex-c-center {
    align-items: center;
}

#header {
    height: 776px;
    width: 100%;
}

#catch {
    padding: 90px 151px;
}

#why {
    padding: 90px 0;
}

#test {
    padding-bottom: 90px;
}

#catch img {
    margin-right: 25px;
}

#static {
    padding-bottom: 90px;
    max-width: 1420px;
}

#maps {
    max-width: 1420px;
    padding: 60px 0 84px;
}

#method {
    padding-top: 60px;
    padding-bottom: 60px;
}

#agree {
    padding: 80px 88px 143px;
}

#reviews {
    padding: 70px 88px 90px;
}

#special {
    padding: 132px 0 100px;
}

#answer {
    padding: 60px 0 67px;
}

#answe>div {
    margin: 40px 18.67% 0;
}

#luck {
    padding-top: 126px;
    padding-bottom: 314px;
}

#alarm {
    margin: -178px 88px -88px;
    padding: 58px 30px;
    display: inline-grid;
}

#info {
    margin-top: 40px;
    padding: 140px 88px 34px;
}

#luck>div {
    max-width: 1098px;
}

.header *,
.special *,
#luck *:not(.luck-cicle),
#agree *:not(.agree-cicle) {
    z-index: 99999;
}

.header {
    padding: 30px 88px 0;
}

.header-top-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

.header-body {
    margin-top: 57px;
}

.header-body .b-attrib {
    margin-top: 98px;
}

.header-body h1 {
    max-width: 715px;
    margin-bottom: 20px;
}

.header-body img {
    width: 721px;
    height: 543px;
    margin-right: 0;
}

.header-paus {
    width: 50px;
    height: 50px;
    position: relative;
    margin-right: 14px;
    cursor: pointer;
}

.header-paus::before {
    position: absolute;
    content: "";
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border: 4px solid var(--blue);
    border-radius: 50%;
}

.header-button-a {
    margin-right: 50px;
}

.header-pause-start {
    border: 8px solid transparent;
    border-right: 8px solid var(--blue);
    border-bottom: 8px solid var(--blue);
    transform: rotate(-45deg) translate(-15%, -15%);
}

.header-blue {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 65%;
}

#test a {
    display: block;
    cursor: pointer;
    z-index: 9999999999;
}

.b-attrib {
    width: 79px;
    height: 10px;
    margin-bottom: 10px;
}

.static-cart img {
    width: 700px;
    height: 400px;
    margin-right: 90px;
}

.static-cart-body .b-attrib {
    margin-top: 70px;
}

.static-cart-body h2 {
    margin-bottom: 30px;
}

.flex-maps,
#maps h2 {
    z-index: 10;
}

.flex-maps:nth-child(even) {
    flex-direction: row-reverse;
}

.flex-maps:nth-child(even) .flex-maps-img {
    margin-left: 86px;
    margin-right: 0;
}

.flex-maps-img:nth-child(odd) {
    margin-right: 91px;
}

.flex-maps-img {
    width: 499px;
    height: 332px;
}

.flex-maps-text-anger {
    max-width: 428px;
}

.flex-maps-text {
    margin-top: 30px;
}

.maps-cicle-1 {
    width: 43px;
    height: 43px;
    background: #FFC42B;
    top: 0;
    right: -56px;
    transform: translate(50%, -50%);
}

.maps-cicle-2 {
    top: 0;
    left: -56px;
    width: 179.15px;
    height: calc(179.15px / 2);
    background: var(--red);
    transform: rotate(-45deg) translate(-75%, -100%);
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}

.maps-cicle-3 {
    width: 75px;
    height: 75px;
    right: -60px;
    top: 25%;
    transform: rotate(30deg) translate(100%, -100%);
    background: var(--green);
    border-radius: 0% 100% 0% 0% / 0% 100% 0% 0%;
}

.maps-cicle-4 {
    width: 54.61px;
    height: 54.61px;
    bottom: 0;
    left: -56px;
    background: #FFC32A;
    transform: translate(-50%, 50%);
}

.maps-cicle-top,
.maps-cicle-bottom {
    width: 757px;
    height: 757px;
    opacity: 0.2;
    border: 1px solid var(--gray);
    z-index: 0;
}

.maps-cicle-top {
    top: -352px;
    left: -414px;
}

.maps-cicle-bottom {
    bottom: -403px;
    right: -356px;
}

.why-div {
    margin: 60px 0 90px;
}

.why-div .img {
    width: 495px;
    height: 330px;
    margin-right: 103px;
}

.why-div-cart {
    max-height: 598px;
}

.why-div-cart-text {
    max-width: 600px;
    width: 598px;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
}

.why-div-a {
    margin-top: 29px;
}

.why-div-img {
    bottom: 21px;
    left: 0;
    transform: translateX(-50%);
}

.why-video {
    width: 495px;
    height: 330px;
}

.why-video img,
.why-video video {
    width: 100%;
    height: 100%;
    display: block;
}

.why-video-start {
    width: 105px;
    height: 105px;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.test-cicle {
    opacity: 0;
    z-index: -1;
    top: 4px;
    bottom: 0;
    right: 0;
    left: 422px;
}

.test-cicle div {
    width: 406px;
    height: 406px;
    border: 50px solid #2975E1;
}

.test-cart {
    padding: 37px 50px 36px;
    width: 590px;
    height: 307px;
}

.test-cart h2 {
    margin-bottom: 20px!important;
}

.test-cart+.test-cart {
    margin-left: 40px;
}

.test-cart:hover {
    background: var(--blue)!important;
    z-index: 0;
}

.test-cart:hover * {
    color: var(--white)!important;
}

.test-cart:hover .img-woomen,
.test-cart:hover .test-cicle {
    opacity: 1;
}

.test-cart:hover .add-row {
    opacity: 0;
}

.img-woomen {
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.img-woomen img {
    width: 100%;
    height: 384px;
}

.agree-cart {
    padding: 50px 10px 50px 30px;
    width: 260px;
}

.agree-cart .img {
    width: 90px;
    height: 90px;
    margin-bottom: 43px;
}

.agree-cart+.agree-cart {
    margin-left: 73px;
}

.method-cart {
    padding: 40px 50px 70px;
    height: 617px;
    width: 500px;
    margin-top: 60px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
    z-index: 10;
}

.method-cicle-top,
.method-cicle-bottom {
    width: 830px;
    height: 830px;
    opacity: 0.2;
    border: 1px solid var(--gray);
    z-index: 0;
}

.method-cicle-top {
    top: -164px;
    right: -515px;
}

.method-cicle-bottom {
    bottom: -245px;
    left: -388px;
}

.method-cart+.method-cart,
.luck-cart+.luck-cart {
    margin-left: 160px;
}

.method-cart-body {
    top: 128px;
    bottom: 70px;
    right: 57px;
    left: 50px;
}

.method-cart-cart .img,
.luck-cart-cart .img {
    width: 80px;
    height: 80px;
    margin-right: 30px;
}

.luck-cart-cart+.luck-cart-cart {
    margin-top: 90px;
}

.static-h2 {
    padding: 0 180px;
}

.reviews-cart {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 42px;
    height: 469px;
}

.reviews-cart+.reviews-cart {
    margin-left: 30px;
}

.reviews-cart img {
    width: 90px;
    height: 90px;
}

.reviews-cart-name {
    margin-top: 20px;
    margin-bottom: 4px;
}

.reviews-cart-text {
    margin-top: 31px;
    width: 358px;
}

.reviews-cart:hover {
    background: var(--blue);
    color: var(--white);
}

.alarm-div-top {
    width: 685px;
    height: 685px;
    z-index: 0;
    border: 80px solid rgba(52, 224, 168, 0.6);
    top: -462px;
    left: 205px;
}

.alarm-div-right {
    width: 865px;
    height: 865px;
    right: -155px;
    top: -193px;
    z-index: 0;
    border: 80px solid rgba(52, 224, 168, 0.6);
}

.alarm-div-bottom {
    z-index: 0;
    width: 283px;
    height: 283px;
    opacity: 0.3;
    border: 1px solid #F4F5FA;
    bottom: -84px;
    right: -166px;
}

#alarm .grid-ral-2 * {
    z-index: 10;
}

.info-footer {
    border-top: 1px solid var(--white);
    padding: 33px 0 34px;
}

.info-cart+.info-cart {
    margin-top: 20px;
}

.info-cart:last-child {
    margin-bottom: 97px;
}

.info-cart img {
    margin-right: 12.5px;
}

.info-text {
    margin-top: 30px;
}

.answer-znak {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.answer-znak::before {
    content: "";
    display: block;
    height: 23px;
    width: 2px;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
    background: var(--white);
    position: absolute;
}

.answer-znak::after {
    content: "";
    display: block;
    width: 23px;
    height: 2px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    background: var(--white);
    position: absolute;
}

.answer-text {
    display: none;
}

.answer-title {
    font-size: 24px;
    line-height: 150%;
    padding-top: 5px;
}

.answer-secret {
    max-width: 1000px;
}

.answer-text {
    margin: 10px 44px 16px 0;
}

.grid-answer+.grid-answer {
    margin-top: 36px;
}

.grid-answer.bg-green .answer-text {
    display: block;
}

.grid-answer.bg-green .answer-znak::before {
    display: none;
}

.special {
    margin-left: 17.6%;
    margin-right: 88px;
    grid-column-gap: 100px;
}

.special img {
    width: 420px;
    height: 630px;
}

.special h1 {
    margin-bottom: 60px;
}

.special-cart h2 {
    margin-top: 12px;
}

.special-cart-text {
    margin-top: 30px;
    max-width: 500px;
}

.array {
    bottom: 0;
    left: 0;
}

.array img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin-right: 0!important;
}

.array-prev {
    margin-left: 20px;
}

.luck-cicle,
.special-cicle {
    border: 70px solid;
    width: 514px;
    height: 514px;
    z-index: -10!important;
}

.special-cicle {
    color: var(--blue);
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}

.luck-cicle {
    color: var(--green);
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

#alarm .grid-ral-2 h2 {
    padding: 30px 50px 30px;
    border-right: 2px solid var(--white);
}

.alarm-btn {
    margin-left: 50px;
}

.agree-cicle {
    width: 156px;
    height: 156px;
    z-index: 0!important;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    background: #34E0A8;
}

.agree-cicle-bot {
    width: 131px;
    height: 131px;
    border: 2px solid #2CD69E;
    bottom: -86px;
    left: -68px;
}

.logo {
    width: 76px;
    height: 76px;
    margin-right: 21px;
}

.logo-green {
    width: 35px;
    height: 35px;
    top: 0;
    left: 0;
    border-radius: 100% 0% 0% 0% / 100% 0% 0% 0%;
    position: absolute;
}

.logo-red {
    width: 35px;
    height: 35px;
    top: calc(50% - 12px);
    left: calc(50% + 3px);
    border-radius: 0% 0% 100% 0% / 0% 0% 100% 0%;
    position: absolute;
}

.medium {
    background: #E5E5E5;
    padding: 80px 0 68px;
    min-height: 100vh;
}

.medium-subtitle {
    margin-top: 30px;
    margin-bottom: 39px;
    font-size: 24px;
    line-height: 150%;
}

.medium-img {
    width: 652px;
    height: 418px;
    margin-bottom: 54px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #00FEFE;
    border: 2px solid var(--white);
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
}

.color-cicle {
    margin-top: 12px;
    margin-bottom: 18px;
}

.wrapper ul,
.wrapper li {
    position: relative;
    margin: 0;
    padding: 0;
}

.wrapper {
    max-width: 324px;
    width: 100%;
    height: 324px;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 3rem 5rem rgba(0, 0, 0, 0.3);
    transform: scale(1, 1) rotate(75deg);
}

.wrapper ul {
    position: relative;
    -webkit-filter: blur(1.5rem);
}

.wrapper li {
    list-style: none;
    overflow: hidden;
}

.wrapper li,
.wrapper li:before,
.wrapper li:after {
    position: absolute;
    width: 10rem;
    height: 10rem;
    transform-origin: right bottom;
}

.wrapper li:before,
.wrapper li:after {
    content: "";
    display: block;
}

LI:before {
    transform: rotate(30deg);
}

LI:after {
    transform: rotate(60deg);
}

.wrapper li {
    transform: rotate(0deg);
    background: hsl(0, 100%, 50%);
}

.wrapper li:before {
    background: hsl(30, 100%, 50%);
}

.wrapper li:after {
    background: hsl(55, 100%, 50%);
}

.wrapper li:nth-child(2) {
    transform: rotate(90deg);
    background: hsl(80, 100%, 50%);
}

.wrapper li:nth-child(2):before {
    background: hsl(120, 100%, 50%);
}

.wrapper li:nth-child(2):after {
    background: hsl(150, 100%, 50%);
}

.wrapper li:nth-child(3) {
    transform: rotate(180deg);
    background: hsl(180, 100%, 50%);
}

.wrapper li:nth-child(3):before {
    background: hsl(210, 100%, 50%);
}

.wrapper li:nth-child(3):after {
    background: hsl(240, 100%, 50%);
}

.wrapper li:nth-child(4) {
    transform: rotate(270deg);
    background: hsl(270, 100%, 50%);
}

.wrapper li:nth-child(4):before {
    background: hsl(300, 100%, 50%);
}

.wrapper li:nth-child(4):after {
    background: hsl(330, 100%, 50%);
}

#question {
    margin-top: 30px;
    margin-bottom: 30px;
}

.bg-pri-0 {
    border: 5px solid var(--white);
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spes-div-blue {
    width: 369px;
    height: 333px;
    right: 0;
    bottom: 0;
    z-index: -10;
    border-radius: 0px 0px 0px 200px;
}

.spes-div-gray {
    background: #F4F5FA;
    width: 237px;
    height: 237px;
    right: 0;
    bottom: 50%;
    z-index: -11;
    border-radius: 0px 0px 0px 100px;
    transform: rotate(90deg);
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    width: 43px;
    height: 12px;
    border-radius: 10px;
    margin-top: -2px;
    background: var(--blue);
    cursor: pointer;
    position: relative;
}

input[type=range]::-moz-range-thumb {
    border: none;
    content: "|";
    color: var(--white);
    width: 43px;
    height: 12px;
    border-radius: 10px;
    margin-top: -2px;
    background: var(--blue);
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    border: none;
    content: "|";
    color: var(--white);
    width: 43px;
    height: 12px;
    border-radius: 10px;
    margin-top: -2px;
    background: var(--blue);
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--lithgray);
    border-radius: 10px;
    border: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: var(--lithgray);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--lithgray);
    border-radius: 10px;
    border: none;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--lithgray);
    border-radius: 10px;
    border: none;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--lithgray);
}

input[type=range]::-ms-fill-upper {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--lithgray);
    border-radius: 10px;
    border: none;
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--lithgray);
}

.area-color {
    padding: 0 38px;
}

.result-box {
    width: 840px;
    height: 396px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.05);
    padding: 40px;
    margin: 40px auto 100px;
}

.result-graf {
    width: 280px;
    height: 280px;
}

.btn-end {
    margin-right: 100px;
}

.result h1 {
    margin-bottom: 30px;
}

.answ-res {
    font-size: 24px;
    line-height: 150%;
}

.answ-res td {
    padding: 10px 0;
}

.answ-res tr+.answ-res tr {
    border-top: 1px solid var(--gray);
}

.table-answer {
    width: 329px;
}

.modal {
    background: rgba(41, 119, 232, 0.8);
    z-index: 100000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.modal-form {
    z-index: 1000000;
    padding: 40px 58px 20px;
    max-width: 600px;
    ;
}

.modal-close {
    width: 40px;
    height: 40px;
    background: var(--blue);
    top: -40px;
    right: calc(-100% - 18px);
    transform: translate(50%, -50%);
    position: relative;
    border-radius: 3px;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    background: var(--white);
    position: absolute;
    top: 7px;
    width: 2px;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-form input {
    margin-bottom: 20px;
}

.modal-form button {
    margin-top: 18px;
}

.modal-form h2 {
    margin-bottom: 20px;
}

.modal-portfolio {
    width: 1168px;
    max-height: 827px;
    padding: 40px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}

#slidewrapper {
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
    -o-transition-timing-function: cubic-bezier(.67, .01, .23, 1);
    transition-timing-function: cubic-bezier(.67, .01, .23, 1);
}

.slide {
    height: 742px;
}

.slide-img {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}

#prev-btn,
#next-btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--blue);
    border-radius: 3px;
    transform: translateY(-50%);
    cursor: pointer;
}

#prev-btn {
    left: 13px;
}

#next-btn {
    right: 13px;
}

.btn-write {
    width: 363px;
    padding: 16px 50px;
}

.btn-test {
    margin-right: 30px;
}
