
@media screen and (max-width:450px){

	h1 {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 59px;
		margin: 0;
	}

	h2 {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
	}
	.header {
		padding: 35px 0px 0px;
	}
	.header-text {
		display: block;
		position: absolute;
	}
	.color-darkblue, .position-absolute, .bg-blue, .header-blue, .b-attrib-header, .text-right {
		display: none;
	}
	.black-mobile {
		color: var(--black)!important;
	}
	.header-body h1 {
		margin-bottom: 0px;
	}
	.grid-header-button {
		grid-template-columns: none;
		margin-top: 0px;
	}

	.mainimg {
		display: none;
	}
	.mobileimg {
		display: block;
	}
	.top-logo {
    	position: absolute;
    	left: 29px;
    	top: 19px;
	}
	
	.flex-r.header-body {
    	display: block;
	}

}
